#idmb{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    border-style: inset;
    
}

#idmb1{

    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-style: inset;
    
}